# Never allow build outputs or temp files to be committed
*~
*.la
*.lo
*.log
*.o
*.out
*.tar*
*.trs

# Random noise
*.patch

# Generated documentation
*.1
*.3
*.7
*.8
*.dvi
*.eps
*.pdf
*.ps
*.tex
ChangeLog

# Autotools
ABOUT-NLS
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.rpath
config.status
config.sub
configure
compile
.deps
INSTALL
install-sh
.libs
libtool
ltconfig
ltmain.sh
# TODO: get rid of *.m4 (all local files should be in m4local)
*.m4
m4local
Makefile
Makefile.in
Makefile.in.in
Makevars.template
messages
missing

# Translations
POTFILES
*.gmo
gutenprint.pot
*.header
Rules-quot
*.sed
*.sin
src/cups/catalog

# TODO:  Clean this list up
backend_gutenprint
bjc-unprint
cat-id-tbl.c
commandtocanon
commandtoepson
compare-checksums
cups-calibrate
cups-genppd.5.2
cups-genppdupdate
cups-gutenprint.list
curve
debian-build
depcomp
escp2-unprint
escp2-weavetest
escputil
extract-strings
genppd
gen-printer-list
gutenprint
gutenprint.5.2
gutenprint.aux
gutenprint.cp
gutenprint.cps
gutenprint.dox
gutenprint.fn
gutenprint.fns
gutenprint.ky
gutenprint.pc
gutenprint.pg
gutenprint-stamp
gutenprint.toc
gutenprint.tp
gutenprintui2
gutenprintui2.dox
gutenprintui2.pc
gutenprintui2-stamp
gutenprint-version
gutenprint-version.h
gutenprint.vr
gutenprint.vrs
html
html-stamp
Info.plist
intl
libgutenprintui.la
mixed-color-1bit.ppm
mkgitlog
mkinstalldirs
mk_printerlist
.noupdate
paper_sizes
pcl-unprint
pixma_parse
po2strings
ppd
ppd-stamp
print
printer_margins
printer_options
printers
printrcl.c
printrcy.c
printrcy.h
rastertogutenprint.5.2
reference-html
run-testpattern-2
stamp-cat-id
stamp-h
stamp-h*
stamp-h1
stamp-h.in
stamp-po
stamp-vti
testdither
test-driver
testpattern
testpatternl.c
testpattern.test
testpatterny.c
testpatterny.h
test-rastertogutenprint
typebuiltins.c
typebuiltins.h
unprint
users-guide
users-guide.aux
xml-curve
xmli18n-tmp.h
xml-stamp
ylwrap

# doc/developer
CATALOG.local
suse-html.dsl
suse-print.dsl

# Removed by foomatic-remove
src/ghost
src/foomatic
