*~
ABOUT-NLS
aclocal.m4
autom4te.cache
backend_gutenprint
bjc-unprint
cat-id-tbl.c
ChangeLog
ChangeLogStamp
commandtocanon
commandtoepson
compare-checksums
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.in
cups-calibrate
cups-calibrate.8
cups-genppd.5.2
cups-genppd.8
cups-genppdconfig.8
cups-genppdupdate
cups-genppdupdate.8
cups-gutenprint.list
curve
debian-build
depcomp
.deps
*.eps
escp2-unprint
escp2-weavetest
escputil
escputil.1
extract-strings
foomatic-db
foomatic-generator
foomatic-stamp
genppd
gen-printer-list
*.gmo
gutenprint
gutenprint.3
gutenprint.5.2
gutenprint.aux
gutenprint-color.7
gutenprint.cp
gutenprint.cps
gutenprint-dithers.7
gutenprint.dox
gutenprint.dvi
gutenprint.fn
gutenprint.fns
gutenprint-imagetypes.7
gutenprint-inktypes.7
gutenprint.ky
gutenprint.log
gutenprint-mediasizes.7
gutenprint-mediasources.7
gutenprint-mediatypes.7
gutenprint-models.7
gutenprint.out
gutenprint.pc
gutenprint.pdf
gutenprint.pg
gutenprint.pot
gutenprint.ps
gutenprint-resolutions.7
gutenprint-stamp
gutenprint*.tar.bz2
gutenprint*.tar.gz
gutenprint.tex
gutenprint.toc
gutenprint.tp
gutenprintui2
gutenprintui2.dox
gutenprintui2.pc
gutenprintui2-stamp
gutenprint-version
gutenprint-version.h
gutenprint.vr
gutenprint.vrs
*.header
html
html-stamp
ijsgutenprint.1
ijsgutenprint.5.2
Info.plist
INSTALL
install-sh
intl
*.la
libgutenprintui.la
.libs
libtool
*.lo
ltconfig
ltmain.sh
*.m4
m4local
Makefile
Makefile.in
Makefile.in.in
Makefile Makefile.in
Makevars.template
messages
missing
mixed-color-1bit.ppm
mkchlog
mkinstalldirs
mk_printerlist
.noupdate
*.o
paper_sizes
pcl-unprint
pixma_parse
po2strings
POTFILES
ppd
ppd-stamp
print
printer_margins
printer_options
printers
printrcl.c
printrcy.c
printrcy.h
rastertogutenprint.5.2
reference-html
Rules-quot
run-testpattern-2
*.sed
*.sin
stamp-cat-id
stamp-h
stamp-h*
stamp-h1
stamp-h.in
stamp-po
stamp-vti
testdither
test-driver
testpattern
testpatternl.c
testpattern.test
testpatterny.c
testpatterny.h
testp.out
test-rastertogutenprint
typebuiltins.c
typebuiltins.h
unprint
users-guide
users-guide.aux
users-guide.dvi
users-guide.log
users-guide.out
users-guide.pdf
users-guide.ps
users-guide.tex
xml-curve
xmli18n-tmp.h
xml-stamp
ylwrap
