# Never allow build outputs or temp files to be committed
*~
*.la
*.lo
*.log
*.o
*.out
*.tar*
*.trs
BuildLogs/**

# Random noise
tags

# Generated documentation
*.pdf
*.tex
ChangeLog

# Testing output
callgrind.out*
cachegrind.out*
sums.*-[0-9]*

# Autotools
ABOUT-NLS
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.rpath
config.status
config.sub
config.summary
configure
compile
.deps
INSTALL
install-sh
.libs
libtool
ltconfig
ltmain.sh
# TODO: get rid of *.m4 (all local files should be in m4local)
*.m4
m4local
Makefile
Makefile.in
Makefile.in.in
Makevars.template
messages
missing

# Translations
POTFILES
*.gmo
gutenprint.pot
*.header
Rules-quot
*.sed
*.sin
src/cups/catalog

# TODO:  Clean this list up
git-version-stamp
intl
stamp-h1
Info.plist
doc/developer/CATALOG.local
doc/developer/html-stamp
doc/developer/reference-html
doc/gutenprint.dox
doc/gutenprint/html
doc/gutenprintui2.dox
doc/gutenprintui2/html
gutenprint
gutenprint-*/
gutenprint-stamp
gutenprint-version
gutenprint-version.h
gutenprint.5.*
gutenprint.aux
gutenprint.cp
gutenprint.cps
gutenprint.dox
gutenprint.fn
gutenprint.fns
gutenprint.ky
gutenprint.pc
gutenprint.pg
gutenprint.toc
gutenprint.tp
gutenprint.vr
gutenprint.vrs
gutenprintui2
gutenprintui2-stamp
gutenprintui2.dox
gutenprintui2.pc
include/Makefile
include/gutenprint/Makefile
include/gutenprint/gutenprint-version.h
include/gutenprintui2/Makefile
man/cups-calibrate.8
man/cups-genppd.8
man/cups-genppdupdate.8
man/escputil.1
po/stamp-po
scripts/build-release
scripts/count-cpus
scripts/depcomp
scripts/gversion
scripts/gversion
scripts/mkgitlog
scripts/mkgitlog
scripts/test-driver
scripts/test-gversion
scripts/wzpaq
scripts/wzpaq
scripts/ylwrap
src/cups/backend_gutenprint
src/cups/commandtocanon
src/cups/commandtodyesub
src/cups/commandtoepson
src/cups/cups-calibrate
src/cups/cups-genppd.5.*
src/cups/cups-genppdupdate
src/cups/min-pagesize
src/cups/ppd
src/cups/ppd-stamp
src/cups/rastertogutenprint.5.*
src/cups/test-ppds.test
src/cups/test-rastertogutenprint
src/cups/test-rastertogutenprint.test
src/cups/testppd
src/escputil/escputil
src/gutenprintui2/gutenprintui2.pc
src/gutenprintui2/libgutenprintui.la
src/gutenprintui2/typebuiltins.c
src/gutenprintui2/typebuiltins.h
src/main/gutenprint.pc
src/testpattern/compare-checksums
src/testpattern/compare-checksums
src/testpattern/compare-image-files
src/testpattern/compress-checksums
src/testpattern/compress-checksums
src/testpattern/printer_options
src/testpattern/printers
src/testpattern/printrcl.c
src/testpattern/printrcy.c
src/testpattern/printrcy.h
src/testpattern/run-testpattern
src/testpattern/run-testpattern-1.test
src/testpattern/run-testpattern-2
src/testpattern/run-testpattern-2.test
src/testpattern/testpattern
src/testpattern/testpattern.test
src/testpattern/testpatternl.c
src/testpattern/testpatterny.c
src/testpattern/testpatterny.h
src/xml/extract-strings
src/xml/printers/check_duplicate_printers.test
src/xml/xmli18n-tmp.h
test/bjc-unprint
test/compress-5level.sh
test/compress-6level.sh
test/curve
test/test-curve.test
test/escp2-unprint
test/escp2-weavetest
test/gen-printer-list
test/parse-bjc
test/parse-escp2
test/pcl-unprint
test/pixma_parse
test/run-testdither.test
test/run-weavetest.test
test/testdither
test/uncompress-5level.sh
test/uncompress-6level.sh
test/unprint
test/xml-curve
xml-stamp

# Things that we *do* need
!src/xml/printers
